server:
  port: 8083

spring:
  application:
    name: vacancy-service

  datasource:
    url: jdbc:postgresql://localhost:5435/vacancydb
    username: vacancyuser
    password: vacancypass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

kafka:
  bootstrap-servers: localhost:9092

clients:
  user-service:
    url: http://localhost:8082
